urllib3
urllib3-1.25.10.dist-info
soupsieve
soupsieve-2.0.1.dist-info
requests
requests-2.24.0.dist-info
idna
idna-2.10.dist-info
chardet
chardet-3.0.4.dist-info
certifi
certifi-2020.6.20.dist-info
bs4
bin
beautifulsoup4-4.9.3.dist-info